{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
</head>

<body class='container' {% if messages %}
    style="background-image: url('https://images.pexels.com/photos/3008509/pexels-photo-3008509.jpeg?auto=compress&cs=tinysrgb&w=1920');" 
  {% else %}
  style="background-image: url('{{ image_url }}');"
  {% endif %}>
  <div class="flex flex-col gap-[10px]">
    <h1 class="text-5xl text-red-400">WEATHER CHECKER</h1>
    
    <form method="POST" class="">
      {% csrf_token %}
      <input type="text" name="city" required="true" placeholder="Enter City">
      <button type="submit" class="bg-blue-600 p-[10px] rounded-xl ">Check</button>
    </form>
    <div class="">
      <div class="">
        <h2 class="text-red-400">Temperature: {{ temp }}&#176; C</h2>
        <h2 class="">Minimum Temperature: {{ tempmin }}&#176; C</h2>
        <h2 class="">Maximum Temperature: {{ tempmax }}&#176; C</h2>
        <h2 class="">Humidity: {{ humidity }}</h2>
        <h2 class="">City: {{ city }}</h2>
        <h2 class="">Country: {{ country }}</h2>
        <h2 class="">Sunrise timing: {{ sunrise }}</h2>
        <h2 class="">Sunset timing: {{ sunset }}</h2>
      </div>
      <div class="">
        <div class="">
          <p><img src="http://openweathermap.org/img/w/{{ icon }}.png" width="120px"></p>
        </div>
        <div class="">
          <p>{{ description }}</p>
          <p>Date: {{ date }}</p>
          <p>Day: {{ day }}</p>
          <p>{{ weakdays }}</p>
          
          <div class="flex flex-col gap-[10px] mt-[20px]">
            {% for daydata in forecastdata %}
            
            
            <img src="http://openweathermap.org/img/w/{{ daydata.weather.0.icon }}.png" alt="" width="120px">
            <p>{{ daydata.weather.0.description }}</p>
            <p>Temperature: {{ daydata.main.temp }}&#176; C</p>
            <p>Minimum Temperature: {{ daydata.main.temp_min }}&#176; C</p>
            <p>Maximum Temperature: {{ daydata.main.temp_max }}&#176; C</p>
            <p>Humidity: {{ daydata.main.humidity }}%</p>
            <p>{{ forloop.counter0 }}</p>

            
            {% endfor %}
            
            
          </div>
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    
  </div>
 
</body>
</html>